##  Clase practica N° 4
intro a la manipulacion de datos con pandas

### 1)

descargar el archivo "ko_comas.csv" que se encuentra en el campus del curso e importarlo localmente en la variable "df". Imprimer el head del Dataframe con los primeros 12 valores para corroborar.

### 2)

con el fin de trabajar mas comodo en proximos ejercicios, se requiere pasar todos los nombres de las columnas (tambien llamadas  "features") a minusculas. Imprimir el head para corroborar.

### 3)

revisar cuales son los tipos de datos de cada feature. En caso de ser necesario, cambiar el tipo de dato para aprovechar  las caracteristicas de los DataFrames.

### 4)

* cambiar el nombre de la columna "date" por "fecha" y luego setearlo como indice.

### 5)
* guardar en la variable "apertura_1" la serie de datos que compone la columna "open". acceder mediante el atributo correspondiente.
* guardar en la variable "cierre_1" la serie de datos  que compone la columna "close". Acceder mediante el nombre de la columna.

para finalizar crear un dataframe llamado "data_1" con los datos de "apertura_1" y "cierre_1". Que ocurre con el index?

### 6)

* guardar en la variable "apertura_2" UNICAMENTE los __VALORES__ de la columna "open". acceder mediante el atributo correspondiente.
* guardar en la variable "cierre_2" UNICAMENTE los __VALORES__ de la columna "close". Acceder mediante el nombre de la columna.

para finalizar crear un dataframe llamado "data_2" con los datos de apertura y cierre. Que ocurrio ahora con el index?

### 7)

* Descargar el archivo "ko_excel.xlsx" que se encuentra en el campus del curso e importarlo localmente en la variable "excel".
* Imprimer los ultimos 10 valores para ver de que trata el Dataframe.
* Solucionar los problemas para dejar el DataFrame listo para su analisis.

### 8)
Utilizando el dataframe "excel" imprimir:

* tipo de datos por columnas
* verificar si existen datos faltantes
* cuantas filas y columnas tiene el DataFrame?
* pasar nombres a minusculas
* cambiar "date" por "fecha" y luego setear esta columna como index.

### 9)

agregar tres columnas nuevas al Dataframe "excel". Una con el numero del dia , otra del mes y por ultimo del año.

(hay una cuarta opcion que es el nombre del dia (str), que puede aportar info para usar mas adelante!!)

### 10)

* Crear un "data_10" con las 100 lineas mas recientes.
* Ordenarlas de forma descendente.
* Cual fue el precio de apertura de la fila mas antigua?
* Que dia (day_name) fue la anteultima observacion?

### 11)

* crear un "data_11" que contenga solo las observaciones (filas) hasta 2005 inclusive.
* Cual fue el volumen promedio de este subconjunto?
* cual fue el precio de cierre mas alto? que fecha fue?

### 12)

* Crear un "data_12" que contenga solo observaciones entre 2007 y 2009 inclusive, y que solo cuente con las features "open" y "close".

* agregar una columna "var_nom" con la variacion nominal del precio durante el dia.

###  13)

* crear un "data_13" que contenga rueda por medio y solo la primer columna.

* Que tipo de dato es "data_13" ?

###  14)

* Crear "data_14" con aquellos datos que correspondan a los dias viernes ("Friday").

* imprimir "data_14" con un step de 4 en las filas y solo la columna "high".

###  15)

crear un "data_15" donde solo se contemplen los dias impares del mes.

###  16)

pedir al usuario por consola 3 numeros del 1 al 12, validando que estos no se repitan.

Luego Utilizar estos numeros para filtrar los meses del dataframe que queremos visualizar.

guardar el subconjunto en "data_16"

###  17)

* descargar las cotizaciones de AMZN del 1ro de enero de 2011 hasta la fecha.
* la cantidad de ruedas que hubo en el año 2012.
* acceder a los datos de las ruedas 8 y 26 del año 2021.
* pedir por consola el numero de rueda que deseamos buscar en el año 2021 e imprimir los datos.

###  18)

Leer el archivo de precios de AAPL y devolver el dataFrame que tenga:

- Solo las columnas Open y Close
- Que tenga como indice el timestamp
- Que este ordenado por fechas
- que devuelva solo los ultimos 10 valores

In [ ]:
url = "https://docs.google.com/spreadsheets/d/e/2PACX-1vRraxkyU12H2gHzFTwbhMRKvSCZBVeKfFEc2MGZw5fNJz4b2s6EQJGu0Ek-GKrBdg/pub?output=xlsx"

###  19)

volver a cargar el archivo de AAPL
* Crear una nueva columna con el color de la vela diaria
* Verde si Close > Open
* Rojo si Close < Open
* Doji, si Close = Open

###  20)

Usando el ejercicio 19, calcular el % de las ruedas con velas rojas del top 150 de mayor volumen historico

Calcular luego el % de Verdes, Rojas y Dojis de todo el historico