# Clase Practica 02

 - Ejercitacion de temas vistos en clases teoricas 1, 2 y 3.

#  ejercicios de tarea : 6 , 9 , 10 d (el mas importante) y 12.

### 1)
generar una lista que contenga todos los numeros del 1 al 9 con la funcion vista en clase. guardarla en la variable "numeros".

In [ ]:
numeros = list(range(1,10))
numeros

[1, 2, 3, 4, 5, 6, 7, 8, 9]

### 2)
hacer slicing con la variable "numeros" e imprimir:

* numeros pares
* numeros del 7 al 9
* numeros impares de mayor a menor
* promedio de la sumatoria de los elementos
* promedio de la sumatoria sin tener en cuenta el primer elemento

In [ ]:
pares = numeros[1::2]
pares

[2, 4, 6, 8]

In [ ]:
#forma mas avanzada
for i in numeros:
    if i % 2 ==0:
        print(i)

2
4
6
8

In [ ]:
siete_a_nueve = numeros[6:] #
siete_a_nueve , numeros[-3::] , numeros[::-3]

([7, 8, 9], [7, 8, 9], [9, 6, 3])

In [ ]:
impares = numeros[-1::-2]
impares , numeros[::2][::-1]

([9, 7, 5, 3, 1], [9, 7, 5, 3, 1])

In [ ]:
promedio = sum(numeros)/len(numeros)
promedio

5.0

In [ ]:
promedio_sin_primer_elemento = sum(numeros[1::])/(len(numeros[1::])  )
promedio_sin_primer_elemento

5.5

### 3)
Solicitar al usuario un valor entero para generar una tabla de multiplicación (1 al 10), presentando los resultados en pantalla y almacenándolos en una lista. ¿Como podría dejar almacenado dichos resultados en una tupla , en lugar de la lista?

In [ ]:
valor = int(input("escriba un numero: "))
almacen_de_data = []
tupla = tuple()
for i in range(1,11):
    calculo  = i * valor
    almacen_de_data.append(calculo)

almacen_de_data = tuple(almacen_de_data)
almacen_de_data , type(almacen_de_data)

escriba un numero: 3

((3, 6, 9, 12, 15, 18, 21, 24, 27, 30), tuple)

### 4)
Utilizando otro número para las tablas, genera una nueva tabla de multiplicar y aplique la misma lógica utilizada en el punto 3. Luego, compare la nueva lista resultante con la del punto 3 y determine qué valores están presentes en ambas listas.

Que formas de resolucion ofrece el chat gpt?

In [ ]:
valor = int(input("escriba un numero: "))
punto_cuatro = []

for i in range(1,11):
    calculo  = i * valor
    punto_cuatro.append(calculo)

escriba un numero: 4

In [ ]:
conjunto_a = set(almacen_de_data)
conjunto_b = set(punto_cuatro)

In [ ]:
conjunto_a.intersection(conjunto_b) # otra solucion -->  set(almacen_de_data).intersection(punto_cuatro)

{12, 24}

###  5)
solicitar al usuario cuantos elementos tendra nuestra lista.

Utilizando ese dato, solicitar al usuario tantos numeros como longitud de la lista, dando la posibilidad de que sean numeros decimales.

Guardar dichos numeros en una lista, y luego A MANO  calcular la media y la desviacion estandar. (__chat gpt__)

Verificar con alguna libreria, los resultados obtenidos.

In [ ]:
longitud = int(input("cuantos elementos tendra la lista: "))
lista_cinco  = []
for i in range(longitud):
    nro = float(input("pasame un numero: "))
    lista_cinco.append(nro)

#lista por comprension para este ejemplo
#lista_cinco_compre = [float(input("pasame un numero")) for i in range(longitud)] # otro ejemplo --> lista = [i**2 for i in range(10)]

cuantos elementos tendra la lista: 4
pasame un numero: 2.2
pasame un numero: 3
pasame un numero: 6
pasame un numero: 7.4

In [ ]:
media = sum(lista_cinco) / len(lista_cinco)
media

4.65

In [ ]:
lista_cinco

[2.2, 3.0, 6.0, 7.4]

In [ ]:
resultados = []
for i in lista_cinco:
    calculo = (i-media)**2
    resultados.append(calculo)
sumatoria  = sum(resultados)
varianza = sumatoria / len(resultados)
desvio = varianza ** 0.5
desvio

2.1277922830953213

In [ ]:
import numpy as np

In [ ]:
np.std(lista_cinco) , np.mean(lista_cinco)

(2.1277922830953213, 4.65)

###  6)

Pedir al usuario 5 tickers y guardarlos en una lista. Verificar que ninguno tenga espacios al principio ni final, y que se encuentren en mayusculas.

Usar la lista "historial_de_operaciones" para ver si he operado algun ticker de los pasados por el usuario.

En el caso de hallar coincidencias , imprimir tales tickers en un texto minuscula como "el ticker X ha sido operado por mi"

Para aquellos tickers que no se hallen coincidencias, eliminarlos de "historial de operaciones" y guardarlos en una tupla.(__chat gpt__)

In [ ]:
historial_de_operaciones = ["BMA" , "KO" , "TSLA" , "YPFD"]

### 7)

Con el String utilizado en la clase pasada, volverlo a limpiar para dejarlo normalizado, y luego generar una lista con las operaciones individuales (ticker operacion precio).


Obtener el precio promedio de las operaciones.

In [ ]:
cotizaciones = """BMA C 220,00
BMA C $219,22
BMA V $221,50
COME V $3,00
GGAL c $190,95
BMA V $220,25
GGAL v 187,20
TS V $40,30
TS C $45,20
TS V 40,20
COME C $3,01"""

In [ ]:
cotizaciones = cotizaciones.replace("$" , "").upper()
cotizaciones = cotizaciones.replace("  " , " ")
cotizaciones = cotizaciones.replace("," , ".")
print(cotizaciones)

BMA C 220.00
BMA C 219.22
BMA V 221.50
COME V 3.00
GGAL C 190.95
BMA V 220.25
GGAL V 187.20
TS V 40.30
TS C 45.20
TS V 40.20
COME C 3.01

In [ ]:
cotizacion = cotizaciones.split("\n")
precios = []
for i in cotizacion:
    l = i.split()
    precios.append(float(l[2]))

sum(precios) / len(precios)

126.43909090909092

### 8)

Pedir al usuario sus 3 acciones favoritas, y sus precios actuales, guardando este par de datos dentro de una lista, y luego todas estas listas de pares, dentro de la tupla "acciones_favs"

Con los datos de la tupla, generar dos listas. Una con los tickers y otra con los precios.

In [ ]:
lista = []
for i in range(3):
    t = input("escriba su simbolo : ")
    p = float(input("cual es su precio actual: "))
    lista_interna  = [t , p]
    lista.append(lista_interna)

escriba su simbolo : ggal
cual es su precio actual: 450
escriba su simbolo : bma
cual es su precio actual: 320
escriba su simbolo : come
cual es su precio actual: 3

In [ ]:
acciones_favs = tuple(lista)

In [ ]:
acciones_favs

(['ggal', 450.0], ['bma', 320.0], ['come', 3.0])

In [ ]:
tickers = []
precios = []

for i in acciones_favs:
    tickers.append(i[0])
    precios.append(i[1])
tickers , precios

(['ggal', 'bma', 'come'], [450.0, 320.0, 3.0])

### 9)
Se requiere saber cuales son los numeros que __NO__ se repiten dentro de la lista, para informarlos por consola.

El informe debe ser del tipo __"es X que Y se encuentra solo una vez en 'nums'   "__

In [ ]:
nums = [1, 2, 3, 1, 4, 2, 5, 6, 3]

### 10)
### a)

En base a la lista dada, imprimir en formato "en fecha X se ha operado: una C/V del papel Y a un precio de P ".

In [ ]:
fechas_a = [["2023-05-01", "C" , "BMA" , 220] ,
          ["2023-05-02" , "V" , "COME" , 3.00],
          ["2023-05-03" , "C" , "GGAL" , 451.32] ]

In [ ]:
for i in fechas_a:
    f = i[0]
    o = i[1]
    t = i[2]
    p = i[3]
    print(f"en fecha{f} he operado una {o} del papel {t} al precio {p}")

en fecha2023-05-01 he operado una C del papel BMA al precio 220
en fecha2023-05-02 he operado una V del papel COME al precio 3.0
en fecha2023-05-03 he operado una C del papel GGAL al precio 451.32

### b)
En base a la lista dada, imprimir en formato "en fecha X se ha operado: una C/V del papel Y a un precio de P ".

In [ ]:
fechas_b = ["2023-05-01", "C" , "BMA" , 220 ,
          "2023-05-02" , "V" , "COME" , 3.00,
          "2023-05-03" , "C" , "GGAL" , 451.32]

In [ ]:
for i in range(3): # intentar hacerlo con un for i in range(0,12,4). encontrar la forma
    f = fechas_b[0: : 4]
    o = fechas_b[1: : 4]
    t = fechas_b[2: : 4]
    p = fechas_b[3: : 4]
    print(f"en fecha {f[i]} he operado una {o[i]} del papel {t[i]} al precio {p[i]}")

en fecha 2023-05-01 he operado una C del papel BMA al precio 220
en fecha 2023-05-02 he operado una V del papel COME al precio 3.0
en fecha 2023-05-03 he operado una C del papel GGAL al precio 451.32

### c)
En base a la lista dada, imprimir en formato "en fecha X se ha operado: una C/V del papel Y a un precio de P ".

In [ ]:
fechas_c = [
    ["2023-05-01", ["C"] , ["BMA"] , [220]] ,
          ["2023-05-02" , ["V"] , ["COME"] , [3.00]],
          ["2023-05-03" , ["C"] , ["GGAL"] , [451.32]]
]

In [ ]:
for i in fechas_c:
    f = i[0]
    o = i[1][0]
    t = i[2][0]
    p = i[3][0]
    print(f"en fecha{f} he operado una {o} del papel {t} al precio {p}")

en fecha2023-05-01 he operado una C del papel BMA al precio 220
en fecha2023-05-02 he operado una V del papel COME al precio 3.0
en fecha2023-05-03 he operado una C del papel GGAL al precio 451.32

### d)

En base a la lista dada, imprimir en formato "en fecha X se ha operado: una C/V del papel Y a un precio de P ".

In [ ]:
fechas_d = [["2023-05-01", ["C" , "C" , "V"] , ["BMA" ,"BMA" , "BMA"] , [220 , 219.22 , 221.5]] , #ejemplo 2023-05-01 opere C BMA 220
          ["2023-05-02" , ["V" , "C" , "V"] , ["COME" ,"GGAL" , "BMA"] , [3.00 , 190.95 , 220.25]]] # 2023-05-02 opere V COME 3.00

In [ ]:
#TAREA OBLIGATORIA!!! tiene 6 salidas

### 11)
generar un array de 25 numeros entre 1 y 100. Eliminar el 3er elemento del array , y reemplazar por 0 al numero que se encuentre en la posicion 21. Imprimir numero por numero, junto a su cuadrado , de forma ordenada de mayor a menor. (__chat gpt__)

In [ ]:
import numpy as np

In [ ]:
np.random.seed(100)
a = np.random.randint(size=25 , low=1 , high=100)
a

array([ 9, 25, 68, 88, 80, 49, 11, 95, 53, 99, 54, 67, 99, 15, 35, 25, 16,
       61, 59, 17, 10, 94, 87,  3, 28])

In [ ]:
a = np.delete(a , 2)

In [ ]:
a[20] = 0

In [ ]:
a

array([ 9, 25, 88, 80, 49, 11, 95, 53, 99, 54, 67, 99, 15, 35, 25, 16, 61,
       59, 17, 10,  0, 87,  3, 28])

In [ ]:
for i in sorted(a , reverse=True):   # array.sort() es otra forma
    print(i , i**2)

99 9801
99 9801
95 9025
88 7744
87 7569
80 6400
67 4489
61 3721
59 3481
54 2916
53 2809
49 2401
35 1225
28 784
25 625
25 625
17 289
16 256
15 225
11 121
10 100
9 81
3 9
0 0

### 12)
Generar 350 numeros aleatorios(menores a mil) y guardarlos en una lista.
Calcular media, moda y mediana. Calcular desvio , varianza y deciles utilizando metodos de librerias de calculo. (__chat gpt__)

#  ejercicios de tarea : 6 , 9 , 10 d (el mas importante) y 12.