# Idea Cálculo Matricial

In [ ]:
import numpy as np

n = 5000
ret = np.random.normal(0,2,n)

In [ ]:
%%time

suma = 0
mu = ret.mean()

for xi in ret:
  suma += (mu - xi)**2

(suma/n)**0.5

CPU times: user 4.22 ms, sys: 0 ns, total: 4.22 ms
Wall time: 4.16 ms

2.0280999879010406

$$  \Large  \sigma = \sqrt {\frac{1}{n} \sum_{i=1}^{n} (\mu - x_i)^2}  $$

$$ \text{Var}(X) = \frac{1}{N}(X - \mu)^T (X - \mu) $$

$$ \sigma(X) = \sqrt{\text{Var}(X)} $$

In [ ]:
X = ret

In [ ]:
%%timeit
np.sqrt(np.divide((X - mu).T.dot(X - mu), n))

The slowest run took 4.26 times longer than the fastest. This could mean that an intermediate result is being cached.
28.3 µs ± 14.7 µs per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [ ]:
%%timeit
(((mu - X)**2).sum() / n) ** 0.5

12.3 µs ± 2.06 µs per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [ ]:
(((mu - X)**2).sum() / n) ** 0.5

2.0280999879010397

# Diccionarios

Un diccionario es una estructura Clave=>Valor
<br>Por ejemplo en lugar de tener un listado de las notas de mis alumnos, podria tener un diccionario con la nota asignada al nombre de cada uno

## Estruuctura del diccionario

* Abre con: {
* Cierra con: }
* Los elementos se separan con comas
* Los elementos del diccionario tienen clave y valor
* La clave se escribe entre comillas preferentemente
* EL valor se escribe entre comillas solo si es un string
* Entre clave y valor va un ":"

In [ ]:
diccionario = {"ALUA":29.35 , "BBAR":120.85 , "BMA":265.2 , "BYMA":[290,299]}
type(diccionario)

dict

In [ ]:
print(diccionario)

{'ALUA': 29.35, 'BBAR': 120.85, 'BMA': 265.2, 'BYMA': [290, 299]}

In [ ]:
diccionario["BBAR"]

120.85

In [ ]:
len(diccionario)

4

<img src="https://wallpapers.com/images/hd/chatgpt-ed148576yu0uvj3e.jpg" width=160>

https://chat.openai.com/c/a0e9c678-13d3-4ae6-837e-da6f8f2f1e97

In [ ]:
# buscar activo para vender primero

activo_a_vender = diccionario["AAPL"]

print('estoy vendiendo')
# vender el activo seleccionado

KeyError: ignored

## El método get()

<br>
Dos Formas de Acceder a los valores de una clave de un diccionario

In [ ]:
diccionario['BBAR']

120.85

In [ ]:
diccionario.get('BBAR')

120.85

In [ ]:
rta = diccionario['AAPL']
print(rta)

KeyError: ignored

In [ ]:
rta = diccionario.get('AAPL', 'TICKER_DEFAULT')
print('El bot sigue... ', rta)

El bot sigue...  TICKER_DEFAULT

In [ ]:
# Generar un valor opr default en caso que no encuentre el key en el dict
print(diccionario.get('FRAN',0))

0

## Keys(), values() e items()

<br>
Accedemos por separado a las Claves y Valores

In [ ]:
keys = diccionario.keys()
print(keys)

dict_keys(['ALUA', 'BBAR', 'BMA', 'BYMA'])

In [ ]:
valores = diccionario.values()
print(valores)

dict_values([29.35, 120.85, 265.2, [290, 299]])

In [ ]:
type(keys)

dict_keys

In [ ]:
claves_lista = list(keys)
claves_lista

['ALUA', 'BBAR', 'BMA', 'BYMA']

In [ ]:
for key in keys:
    print(key)

ALUA
BBAR
BMA
BYMA

### Accedemos a los pares Clave=>Valor

In [ ]:
items = diccionario.items()
print(items)

dict_items([('ALUA', 29.35), ('BBAR', 120.85), ('BMA', 265.2), ('BYMA', [290, 299])])

In [ ]:
items = diccionario.items()
print(list(items)[0])

('ALUA', 29.35)

## Iterando un diccionario

<img src="https://wallpapers.com/images/hd/chatgpt-ed148576yu0uvj3e.jpg" width=160>

https://chat.openai.com/c/104daac7-e689-4785-bafa-3024c0d39312

In [ ]:
diccionario = {"ALUA":29.35 , "BBAR":120.85 , "BMA":265.2 , "BYMA":100}

for ticker, precio in diccionario.items():
    print(f'la clave es {ticker}, el valor es {precio}')

la clave es ALUA, el valor es 29.35
la clave es BBAR, el valor es 120.85
la clave es BMA, el valor es 265.2
la clave es BYMA, el valor es 100

In [ ]:
for tupla in diccionario.items():
    print(f'el item es {tupla}')

el item es ('ALUA', 29.35)
el item es ('BBAR', 120.85)
el item es ('BMA', 265.2)
el item es ('BYMA', 100)

In [ ]:
for tupla in diccionario.items():
    print(f'la clave es {tupla[0]}, el valor es {tupla[1]}')

la clave es ALUA, el valor es 29.35
la clave es BBAR, el valor es 120.85
la clave es BMA, el valor es 265.2
la clave es BYMA, el valor es 100

In [ ]:
for i, tupla in enumerate(diccionario.items()):
    print(f'{i+1}/{len(diccionario)} la clave es {tupla[0]}, el valor es {tupla[1]}')

1/4 la clave es ALUA, el valor es 29.35
2/4 la clave es BBAR, el valor es 120.85
3/4 la clave es BMA, el valor es 265.2
4/4 la clave es BYMA, el valor es 100

## La función zip()

In [ ]:
tickers = ['ALUA', 'BBAR', 'BMA', 'BYMA']
precios = [1,2,3,4]
volumenes = [100,120,130,140]

paquete = zip(tickers, precios, volumenes)
paquete

In [ ]:
type(paquete)

zip

In [ ]:
tickers = ['ALUA', 'BBAR', 'BMA', 'BYMA']
precios = [1, 2, 3, 4]
volumenes = [100,120,130,140]

paquete = zip(tickers, precios, volumenes)


for t, p, v in paquete:
    print(t,p,v)

ALUA 1 100
BBAR 2 120
BMA 3 130
BYMA 4 140

Que pasa si vuelvo a iterar?

In [ ]:
for t, p, v in paquete:
    print(t,p,v)

Que pasó??

<img src="https://wallpapers.com/images/hd/chatgpt-ed148576yu0uvj3e.jpg" width=160>

https://chat.openai.com/c/ce10379a-1158-4975-8e58-87a10f0483b9

# De zip a Diccionario

In [ ]:
tickers = ['ALUA','BBAR']
cantidades = [1,2]
diccio = dict(zip(tickers, cantidades))
diccio

{'ALUA': 1, 'BBAR': 2}

# De zip a Lista

In [ ]:
tickers = ['ALUA','BBAR']
cantidades = [1,2]
lista = list(zip(tickers, cantidades))
lista

[('ALUA', 1), ('BBAR', 2)]

## De un diccionario a algo mas copado?

Supongamos que tenemos los montos de tenencias en cartera de esta fomra:

In [ ]:
tickers = ['TSLA','AMZN','GOOGL','TLT','SHY','BTC']
montos = [12500, 5000, 10500, 20_000, 7*10**2, 7e3]

diccio = dict(zip(tickers, montos))
diccio

{'TSLA': 12500,
 'AMZN': 5000,
 'GOOGL': 10500,
 'TLT': 20000,
 'SHY': 700,
 'BTC': 7000.0}

¿Si quisiera la suma de montos?

Si quisiera los porcentajes? de cada asset en el portafolio?

Y si quiero el monto de TLT?

Y si quiero los 3 activos de mayor tenencia?

Y si fueran 100, y quiero los tickers del primer decil, o el percentil 6 de mayor tenencia?

# DataFrames

In [ ]:
import pandas as pd

In [ ]:
tickers = ['TSLA','AMZN','GOOGL','TLT','SHY','BTC']
montos = [12500, 5000, 10500, 20_000, 7*10**2, 7e3]


cartera = pd.DataFrame(data=montos, index=tickers)
cartera.columns=['montos']
cartera

        montos
TSLA   12500.0
AMZN    5000.0
GOOGL  10500.0
TLT    20000.0
SHY      700.0
BTC     7000.0

In [ ]:
cartera['porcentajes'] = cartera.montos / cartera.montos.sum()
cartera

        montos  porcentajes
TSLA   12500.0     0.224417
AMZN    5000.0     0.089767
GOOGL  10500.0     0.188510
TLT    20000.0     0.359066
SHY      700.0     0.012567
BTC     7000.0     0.125673

Se acuerdan si quiero los 3 mayores montos?

In [ ]:
cartera.montos.sort_values(ascending=False).head(3).index

Index(['TLT', 'TSLA', 'GOOGL'], dtype='object')

# Datos de Mercado

In [ ]:
# pip install yfinance

In [ ]:
pip list

Package                       Version
----------------------------- --------------------
absl-py                       1.4.0
alabaster                     0.7.13
albumentations                1.2.1
altair                        4.2.2
anyio                         3.6.2
appdirs                       1.4.4
argon2-cffi                   21.3.0
argon2-cffi-bindings          21.2.0
array-record                  0.2.0
arviz                         0.15.1
astropy                       5.2.2
astunparse                    1.6.3
attrs                         23.1.0
audioread                     3.0.0
autograd                      1.5
Babel                         2.12.1
backcall                      0.2.0
beautifulsoup4                4.11.2
bleach                        6.0.0
blis                          0.7.9
blosc2                        2.0.0
bokeh                         2.4.3
branca                        0.6.0
build                         0.10.0
CacheControl                  0.12.11
cached-property               1.5.2
cachetools                    5.3.0
catalogue                     2.0.8
certifi                       2022.12.7
cffi                          1.15.1
chardet                       4.0.0
charset-normalizer            2.0.12
chex                          0.1.7
click                         8.1.3
cloudpickle                   2.2.1
cmake                         3.25.2
cmdstanpy                     1.1.0
colorcet                      3.0.1
colorlover                    0.3.0
community                     1.0.0b1
confection                    0.0.4
cons                          0.4.5
contextlib2                   0.6.0.post1
contourpy                     1.0.7
convertdate                   2.4.0
cryptography                  40.0.2
cufflinks                     0.17.3
cvxopt                        1.3.0
cvxpy                         1.3.1
cycler                        0.11.0
cymem                         2.0.7
Cython                        0.29.34
dask                          2022.12.1
datascience                   0.17.6
db-dtypes                     1.1.1
dbus-python                   1.2.16
debugpy                       1.6.6
decorator                     4.4.2
defusedxml                    0.7.1
distributed                   2022.12.1
dlib                          19.24.1
dm-tree                       0.1.8
docutils                      0.16
dopamine-rl                   4.0.6
duckdb                        0.7.1
earthengine-api               0.1.350
easydict                      1.10
ecos                          2.0.12
editdistance                  0.6.2
en-core-web-sm                3.5.0
entrypoints                   0.4
ephem                         4.1.4
et-xmlfile                    1.1.0
etils                         1.2.0
etuples                       0.3.8
exceptiongroup                1.1.1
fastai                        2.7.12
fastcore                      1.5.29
fastdownload                  0.0.7
fastjsonschema                2.16.3
fastprogress                  1.0.3
fastrlock                     0.8.1
filelock                      3.12.0
firebase-admin                5.3.0
Flask                         2.2.4
flatbuffers                   23.3.3
flax                          0.6.9
folium                        0.14.0
fonttools                     4.39.3
frozendict                    2.3.7
fsspec                        2023.4.0
future                        0.18.3
gast                          0.4.0
GDAL                          3.3.2
gdown                         4.6.6
gensim                        4.3.1
geographiclib                 2.0
geopy                         2.3.0
gin-config                    0.5.0
glob2                         0.7
google                        2.0.3
google-api-core               2.11.0
google-api-python-client      2.84.0
google-auth                   2.17.3
google-auth-httplib2          0.1.0
google-auth-oauthlib          1.0.0
google-cloud-bigquery         3.9.0
google-cloud-bigquery-storage 2.19.1
google-cloud-core             2.3.2
google-cloud-datastore        2.15.1
google-cloud-firestore        2.11.0
google-cloud-language         2.9.1
google-cloud-storage          2.8.0
google-cloud-translate        3.11.1
google-colab                  1.0.0
google-crc32c                 1.5.0
google-pasta                  0.2.0
google-resumable-media        2.5.0
googleapis-common-protos      1.59.0
googledrivedownloader         0.4
graphviz                      0.20.1
greenlet                      2.0.2
grpcio                        1.54.0
grpcio-status                 1.48.2
gspread                       3.4.2
gspread-dataframe             3.0.8
gym                           0.25.2
gym-notices                   0.0.8
h5netcdf                      1.1.0
h5py                          3.8.0
hijri-converter               2.3.1
holidays                      0.23
holoviews                     1.15.4
html5lib                      1.1
httpimport                    1.3.0
httplib2                      0.21.0
humanize                      4.6.0
hyperopt                      0.2.7
idna                          3.4
imageio                       2.25.1
imageio-ffmpeg                0.4.8
imagesize                     1.4.1
imbalanced-learn              0.10.1
imgaug                        0.4.0
importlib-resources           5.12.0
imutils                       0.5.4
inflect                       6.0.4
iniconfig                     2.0.0
intel-openmp                  2023.1.0
ipykernel                     5.5.6
ipython                       7.34.0
ipython-genutils              0.2.0
ipython-sql                   0.4.1
ipywidgets                    7.7.1
itsdangerous                  2.1.2
jax                           0.4.8
jaxlib                        0.4.7+cuda11.cudnn86
jieba                         0.42.1
Jinja2                        3.1.2
joblib                        1.2.0
jsonpickle                    3.0.1
jsonschema                    4.3.3
jupyter-client                6.1.12
jupyter-console               6.1.0
jupyter_core                  5.3.0
jupyter-server                1.24.0
jupyterlab-pygments           0.2.2
jupyterlab-widgets            3.0.7
kaggle                        1.5.13
keras                         2.12.0
kiwisolver                    1.4.4
korean-lunar-calendar         0.3.1
langcodes                     3.3.0
lazy_loader                   0.2
libclang                      16.0.0
librosa                       0.10.0.post2
lightgbm                      3.3.5
lit                           16.0.3
llvmlite                      0.39.1
locket                        1.0.0
logical-unification           0.4.5
LunarCalendar                 0.0.9
lxml                          4.9.2
Markdown                      3.4.3
markdown-it-py                2.2.0
MarkupSafe                    2.1.2
matplotlib                    3.7.1
matplotlib-inline             0.1.6
matplotlib-venn               0.11.9
mdurl                         0.1.2
miniKanren                    1.0.3
missingno                     0.5.2
mistune                       0.8.4
mizani                        0.8.1
mkl                           2019.0
ml-dtypes                     0.1.0
mlxtend                       0.14.0
more-itertools                9.1.0
moviepy                       1.0.3
mpmath                        1.3.0
msgpack                       1.0.5
multipledispatch              0.6.0
multitasking                  0.0.11
murmurhash                    1.0.9
music21                       8.1.0
natsort                       8.3.1
nbclient                      0.7.4
nbconvert                     6.5.4
nbformat                      5.8.0
nest-asyncio                  1.5.6
networkx                      3.1
nibabel                       3.0.2
nltk                          3.8.1
notebook                      6.4.8
numba                         0.56.4
numexpr                       2.8.4
numpy                         1.22.4
oauth2client                  4.1.3
oauthlib                      3.2.2
opencv-contrib-python         4.7.0.72
opencv-python                 4.7.0.72
opencv-python-headless        4.7.0.72
openpyxl                      3.0.10
opt-einsum                    3.3.0
optax                         0.1.5
orbax-checkpoint              0.2.1
osqp                          0.6.2.post8
packaging                     23.1
palettable                    3.3.3
pandas                        1.5.3
pandas-datareader             0.10.0
pandas-gbq                    0.17.9
pandocfilters                 1.5.0
panel                         0.14.4
param                         1.13.0
parso                         0.8.3
partd                         1.4.0
pathlib                       1.0.1
pathy                         0.10.1
patsy                         0.5.3
pexpect                       4.8.0
pickleshare                   0.7.5
Pillow                        8.4.0
pip                           23.1.2
pip-tools                     6.13.0
platformdirs                  3.3.0
plotly                        5.13.1
plotnine                      0.10.1
pluggy                        1.0.0
polars                        0.17.3
pooch                         1.6.0
portpicker                    1.3.9
prefetch-generator            1.0.3
preshed                       3.0.8
prettytable                   0.7.2
proglog                       0.1.10
progressbar2                  4.2.0
prometheus-client             0.16.0
promise                       2.3
prompt-toolkit                3.0.38
prophet                       1.1.2
proto-plus                    1.22.2
protobuf                      3.20.3
psutil                        5.9.5
psycopg2                      2.9.6
ptyprocess                    0.7.0
py-cpuinfo                    9.0.0
py4j                          0.10.9.7
pyarrow                       9.0.0
pyasn1                        0.5.0
pyasn1-modules                0.3.0
pycocotools                   2.0.6
pycparser                     2.21
pyct                          0.5.0
pydantic                      1.10.7
pydata-google-auth            1.7.0
pydot                         1.4.2
pydot-ng                      2.0.0
pydotplus                     2.0.2
PyDrive                       1.3.1
pyerfa                        2.0.0.3
pygame                        2.3.0
Pygments                      2.14.0
PyGObject                     3.36.0
pymc                          5.1.2
PyMeeus                       0.5.12
pymystem3                     0.2.0
PyOpenGL                      3.1.6
pyparsing                     3.0.9
pyproject_hooks               1.0.0
pyrsistent                    0.19.3
PySocks                       1.7.1
pytensor                      2.10.1
pytest                        7.2.2
python-apt                    0.0.0
python-dateutil               2.8.2
python-louvain                0.16
python-slugify                8.0.1
python-utils                  3.5.2
pytz                          2022.7.1
pytz-deprecation-shim         0.1.0.post0
pyviz-comms                   2.2.1
PyWavelets                    1.4.1
PyYAML                        6.0
pyzmq                         23.2.1
qdldl                         0.1.7
qudida                        0.0.4
regex                         2022.10.31
requests                      2.27.1
requests-oauthlib             1.3.1
requests-unixsocket           0.2.0
requirements-parser           0.5.0
rich                          13.3.4
rpy2                          3.5.5
rsa                           4.9
scikit-image                  0.19.3
scikit-learn                  1.2.2
scipy                         1.10.1
scs                           3.2.3
seaborn                       0.12.2
Send2Trash                    1.8.0
setuptools                    67.7.2
shapely                       2.0.1
six                           1.16.0
sklearn-pandas                2.2.0
smart-open                    6.3.0
sniffio                       1.3.0
snowballstemmer               2.2.0
sortedcontainers              2.4.0
soundfile                     0.12.1
soupsieve                     2.4.1
soxr                          0.3.5
spacy                         3.5.2
spacy-legacy                  3.0.12
spacy-loggers                 1.0.4
Sphinx                        3.5.4
sphinxcontrib-applehelp       1.0.4
sphinxcontrib-devhelp         1.0.2
sphinxcontrib-htmlhelp        2.0.1
sphinxcontrib-jsmath          1.0.1
sphinxcontrib-qthelp          1.0.3
sphinxcontrib-serializinghtml 1.1.5
SQLAlchemy                    2.0.10
sqlparse                      0.4.4
srsly                         2.4.6
statsmodels                   0.13.5
sympy                         1.11.1
tables                        3.8.0
tabulate                      0.8.10
tblib                         1.7.0
tenacity                      8.2.2
tensorboard                   2.12.2
tensorboard-data-server       0.7.0
tensorboard-plugin-wit        1.8.1
tensorflow                    2.12.0
tensorflow-datasets           4.9.2
tensorflow-estimator          2.12.0
tensorflow-gcs-config         2.12.0
tensorflow-hub                0.13.0
tensorflow-io-gcs-filesystem  0.32.0
tensorflow-metadata           1.13.1
tensorflow-probability        0.19.0
tensorstore                   0.1.36
termcolor                     2.3.0
terminado                     0.17.1
text-unidecode                1.3
textblob                      0.17.1
tf-slim                       1.1.0
thinc                         8.1.9
threadpoolctl                 3.1.0
tifffile                      2023.4.12
tinycss2                      1.2.1
toml                          0.10.2
tomli                         2.0.1
toolz                         0.12.0
torch                         2.0.0+cu118
torchaudio                    2.0.1+cu118
torchdata                     0.6.0
torchsummary                  1.5.1
torchtext                     0.15.1
torchvision                   0.15.1+cu118
tornado                       6.3.1
tqdm                          4.65.0
traitlets                     5.7.1
triton                        2.0.0
tweepy                        4.13.0
typer                         0.7.0
types-setuptools              67.7.0.2
typing_extensions             4.5.0
tzdata                        2023.3
tzlocal                       4.3
uritemplate                   4.1.1
urllib3                       1.26.15
vega-datasets                 0.9.0
wasabi                        1.1.1
wcwidth                       0.2.6
webcolors                     1.13
webencodings                  0.5.1
websocket-client              1.5.1
Werkzeug                      2.3.0
wheel                         0.40.0
widgetsnbextension            3.6.4
wordcloud                     1.8.2.2
wrapt                         1.14.1
xarray                        2022.12.0
xarray-einstats               0.5.1
xgboost                       1.7.5
xlrd                          2.0.1
yellowbrick                   1.5
yfinance                      0.2.18
zict                          3.0.0
zipp                          3.15.0

In [ ]:
import yfinance as yf

In [ ]:
data_aapl = yf.download('AAPL', start='2010-01-01', auto_adjust=True)
data_aapl

[*********************100%***********************]  1 of 1 completed

                  Open        High         Low       Close     Volume
Date
2010-01-04    6.478689    6.511169    6.446817    6.496295  493729600
2010-01-05    6.514204    6.544255    6.473224    6.507525  601904800
2010-01-06    6.507526    6.533328    6.397337    6.404016  552160000
2010-01-07    6.427693    6.435281    6.345733    6.392177  477131200
2010-01-08    6.383677    6.435281    6.346038    6.434674  447610800
...                ...         ...         ...         ...        ...
2023-05-10  172.781019  173.789619  171.662556  173.320267   53724500
2023-05-11  173.609878  174.348846  171.932190  173.510010   49514700
2023-05-12  173.619995  174.059998  171.000000  172.570007   45497800
2023-05-15  173.160004  173.210007  171.470001  172.070007   37266700
2023-05-16  171.990005  173.138306  171.799103  172.070007   42040684

[3365 rows x 5 columns]

# Guardado y lectura de excel

In [ ]:
data_aapl.to_excel("datos_bajados_yahoo.xlsx")

In [ ]:
import pandas as pd

pd.read_excel('datos_bajados_yahoo.xlsx')

           Date        Open        High         Low       Close     Volume
0    2010-01-04    6.478688    6.511167    6.446815    6.496294  493729600
1    2010-01-05    6.514206    6.544257    6.473226    6.507527  601904800
2    2010-01-06    6.507527    6.533329    6.397338    6.404016  552160000
3    2010-01-07    6.427692    6.435281    6.345733    6.392176  477131200
4    2010-01-08    6.383677    6.435281    6.346037    6.434673  447610800
...         ...         ...         ...         ...         ...        ...
3360 2023-05-10  172.781019  173.789619  171.662556  173.320267   53724500
3361 2023-05-11  173.609878  174.348846  171.932190  173.510010   49514700
3362 2023-05-12  173.619995  174.059998  171.000000  172.570007   45497800
3363 2023-05-15  173.160004  173.210007  171.470001  172.070007   37237800
3364 2023-05-16  171.990005  173.138306  171.799103  172.203903   29017827

[3365 rows x 6 columns]

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

## Otros timeframes

In [ ]:
yf.download('AAPL', start='2023-04-01', interval="5m", auto_adjust=False)

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2023-04-03 09:30:00-04:00,164.270004,165.559998,164.220001,165.496704,165.496704,3833951
2023-04-03 09:35:00-04:00,165.494995,165.849899,165.360001,165.725006,165.725006,1398850
2023-04-03 09:40:00-04:00,165.732300,165.732300,165.440002,165.449997,165.449997,1077282
2023-04-03 09:45:00-04:00,165.440002,165.869995,165.229996,165.869995,165.869995,1138968
2023-04-03 09:50:00-04:00,165.869995,165.889999,165.270004,165.300003,165.300003,1160507
...,...,...,...,...,...,...
2023-05-16 14:20:00-04:00,171.949997,171.960007,171.804993,171.865005,171.865005,276100
2023-05-16 14:25:00-04:00,171.860001,171.929993,171.799103,171.899994,171.899994,227930
2023-05-16 14:30:00-04:00,171.899994,172.005005,171.869995,171.990005,171.990005,275996
2023-05-16 14:35:00-04:00,171.990005,172.050003,171.914993,172.050003,172.050003,257426
2023-05-16 14:40:00-04:00,172.054993,172.225693,172.054993,172.179993,172.179993,299367

## Varios tickers a la vez

In [ ]:
tickers = ['AAPL', 'META', 'AMZN', 'GOOGL', 'NFLX', 'QQQ', 'SQQQ']

data = yf.download(tickers, start='2020-01-01', auto_adjust=True)['Close']
data

[*********************100%***********************]  7 of 7 completed

,AAPL,AMZN,GOOGL,META,NFLX,QQQ,SQQQ
Date,,,,,,,
2020-01-02,73.347954,94.900497,68.433998,209.779999,329.809998,212.012680,526.091980
2020-01-03,72.634850,93.748497,68.075996,208.669998,325.899994,210.070663,540.170471
2020-01-06,73.213623,95.143997,69.890503,212.600006,335.829987,211.424210,529.796875
2020-01-07,72.869286,95.343002,69.755501,213.059998,330.750000,211.394745,530.043823
2020-01-08,74.041481,94.598503,70.251999,215.220001,339.260010,212.983673,518.188293
...,...,...,...,...,...,...,...
2023-05-10,173.320267,110.190002,111.750000,233.080002,335.420013,325.140015,28.270000
2023-05-11,173.510010,112.180000,116.570000,235.789993,344.760010,326.200012,28.040001
2023-05-12,172.570007,110.260002,117.510002,233.809998,339.890015,325.029999,28.340000
2023-05-15,172.070007,111.199997,116.510002,238.860001,335.890015,326.790009,27.900000
2023-05-16,172.350006,114.195000,120.260002,239.479996,332.950012,328.529999,27.468399

## Magia I: pct_change()

In [ ]:
va = data.pct_change(1)
va

,AAPL,AMZN,GOOGL,META,NFLX,QQQ,SQQQ
Date,,,,,,,
2020-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-01-03,-0.009722,-0.012139,-0.005231,-0.005291,-0.011855,-0.009160,0.026761
2020-01-06,0.007968,0.014886,0.026654,0.018834,0.030469,0.006443,-0.019204
2020-01-07,-0.004703,0.002092,-0.001932,0.002164,-0.015127,-0.000139,0.000466
2020-01-08,0.016086,-0.007809,0.007118,0.010138,0.025729,0.007516,-0.022367
...,...,...,...,...,...,...,...
2023-05-10,0.010421,0.033483,0.040987,-0.001243,0.009875,0.010882,-0.031849
2023-05-11,0.001095,0.018060,0.043132,0.011627,0.027846,0.003260,-0.008136
2023-05-12,-0.005418,-0.017115,0.008064,-0.008397,-0.014126,-0.003587,0.010699
2023-05-15,-0.002897,0.008525,-0.008510,0.021599,-0.011769,0.005415,-0.015526
2023-05-16,0.001627,0.026933,0.032186,0.002596,-0.008753,0.005324,-0.015470

## Magia II: rolling()

## Repaso covarianza

$$ \Large  cov_{x,y}  = \sum_{i=1}^{n} \frac{(x_i-\bar{x})(y_i-\bar{y})}{n-1} $$

## Magia III: matriz de covarianzas, correlacion, etc..

$$ \Large \rho_{x,y} = \frac{cov_{x,y}}{\sigma_x \sigma_y}  $$

## Magia IV: Estadística descriptiva

* describe
* rank
* quantiles
* std, kurt, skew

## Magia V: Conversiones, ej. dataFrame a diccionario

## Magia VI: Graficos rápidos

# Excepciones y errores

In [ ]:
a = 10
b = 20

c = a / b

print(c)

0.5

In [ ]:
a = 10
b = 0

c = a / b

print('Hola ya terminé el paso de la division')
print(c)

ZeroDivisionError: division by zero

# Operadores Lógicos

Comparadores:
    
     ==  Es igual a ?
     !=  Es distinto a?
     > Mayor que
     >= Mayor o igual que
     <  Menor
     <=  Menor o igual

     in Eata incluido en
     not in  No esta incluido en

In [ ]:
listado = ["GGAL","PAMP","YPFD","CEPU","EDN","LOMA","CRES"]
listado

['GGAL', 'PAMP', 'YPFD', 'CEPU', 'EDN', 'LOMA', 'CRES']

## RECUERDEN


    * Un signo igual solo es una asignacion
    * Dos signos igual es una comparacion

# Sentencia IF

Los condicionales son los que definen "ramas" del flujo, véanlas como "bifurcaciones"

Obviamente la sentencia IF lo que hace es preguntar si se cumple o no una condicion, en caso afirmativo ejecuta la línea que sigue despues de los DOS PUNTOS, caso negativo termina ahí si no hay else, pero si hubiera un else, ejecuta la línea o líneas que siguen despues de os DOS PUNTOS del else

Estrctura del IF

if (condicion):
    1° linea de codigo
    2° línea de codigo
    --------
    n° linea de codigo
else:
    1° linea de codigo
    2° línea de codigo
    --------
    n° linea de codigo

## Concepto de la indentación

In [ ]:
accion = "GGAL"
cartera = ["AAPL","AMZN","FB"]

if accion in cartera:
    print(f"{accion} está en la cartera")
    # Vender el papel

else:
    print(F"{accion} NO está en la cartera")
    # buscar otro papel para vender

GGAL NO está en la cartera

# Concatenados / Anidados

## Ejemplo IF concatenado

In [ ]:
# Tarea arregla este script por si el usuario manda cualquier fruta por teclado

resistencias = [7,10,15,20]
precio = float(input("Ingresar el precio: "))

if precio < resistencias[0]:
    print("Resistencia a vencer: ", resistencias[0])

elif precio < resistencias[1]:
    print("Resistencia a vencer: ", resistencias[1])

elif precio < resistencias[2]:
    print("Resistencia a vencer: ", resistencias[2])

elif precio < resistencias[3]:
    print("Resistencia a vencer: ", resistencias[3])

else:
    print("Estamos en máximos históricos")

Ingresar el precio: 8
Resistencia a vencer:  10

### Se puede resolver de una forma mas eficiente?

## Ejemplo IF anidado

In [ ]:
precio = 111

stopLoss = 95
takeProfit = 110


if precio > stopLoss:

    # en ppio mantener
    if precio < takeProfit:
        print("Hold")
    else:
        print("Salida por take Profit")

else:
    print("Salida por Stop Loss")

Salida por take Profit