# Clase practica 03
practica de clases teoricas 1,2,3 y 4.

###  1)
encontrar las tablas de multiplicar del 1 al 5 inclusive. evaluar si cada resultado es par, y en dicho caso imprimirlo por pantalla.

###  2)
imprimir las tablas de multiplicar del 1 al 10 inclusive. solo imprimir si el resultado no es multiplo de 8.
Guardar los resultados de cada operacion en listas "es_multiplo" y "no_es_multiplo" segun corresponda.

## ejecutar las siguientes listas cada vez que comienza los ejercicios de 3 a 5 inclusive:

In [ ]:
nyse = ["KO", "TSLA" , "TS" , "AAPL" , "BRK.A"]
byma = ["EDN" , "GGAL" , "YPFD" , "CTIO"]

### 3)
elegir un ticker aleatoriamente de byma ( __ayuda__ : metodo de la libreria random a investigar https://www.w3schools.com/python/module_random.asp) y guardarlo en la variable "from_byma_to_nyse". primero imprimir dicho ticker y luego agregarlo a la lista de nyse, e imprimir esta ultima.

In [ ]:
nyse = ["KO", "TSLA" , "TS" , "AAPL" , "BRK.A"]
byma = ["EDN" , "GGAL" , "YPFD" , "CTIO"]

### 4)
mezclar aleatoriamente la lista nyse e imprimirla. Imprimir el anteultimo ticker de nyse y luego agregarlo a la lista byma en primera posicion.
imprimir para corroborar.
* __ayuda__ : metodo de libreria random a investigar.

In [ ]:
nyse = ["KO", "TSLA" , "TS" , "AAPL" , "BRK.A"]
byma = ["EDN" , "GGAL" , "YPFD" , "CTIO"]

### 5)
fusionar las dos listas en una , luego cargar estos datos en una variable llamada "lista_larga". Acomodar dicha lista de forma INVERSA (Z a A) , imprimir y luego:
* elimilar el primer elemento utilizando el nombre del ticker (str) correspondiente.
* eliminar el ultimo elemento utilizando el indice del mismo e imprimir cual es dicho ticker.

imprimir nuevamente la lista para verificar los cambios.

In [ ]:
nyse = ["KO", "TSLA" , "TS" , "AAPL" , "BRK.A"]
byma = ["EDN" , "GGAL" , "YPFD" , "CTIO"]

### 6)
pasar ambas listas a un diccionario llamado "dict_1" utilizando la funcion zip. utilizar la lista __t__ como claves.

In [ ]:
t = ["GGAL" , "BMA", "SUPV" , "LOMA" , "MIRG" , "MORI"]
p = [180.5 , 305.65 , 68.5 , 224.1 , 3212.25 , 11.8]

### 7)
pasar del diccionario "dict_1" a las listas __t__ y __p__ nuevamente.

###  8)
volver a pasar ambas listas a un diccionario llamado "dict_2" pero utilizando un ciclo FOR.

###  9)
pasar todos los elementos de dict_2 a una lista llamada "lista_completa" utilizando la funcion zip.

imprimir el tipo de dato de los elementos dentro de la lista.

###  10)
por ultimo crear un diccionario "dict_3" utilizando los datos de "lista_completa"

###  11)
__seguimos utilizando dict_3 como fuente de datos hasta ejercicio 13 inclusive.__

pedir al usuario por consola un ticker e imprimir su precio. Encontrar al menos dos soluciones para que el codigo no arroje errores en caso de que el ticker no se encuentre entre nuestros datos. __chat gpt__

###  12)

elegir un ticker aleatoriamente y luego reemplazar su precio por uno nuevo que se encuentre en un rango +/- 2.5$

imprimir el ticker seleccionado, el precio original , el nuevo precio y por ultimo el diccionario modificado.

###  13)  
elegir un ticker aleatoriamente y luego reemplazar su precio por uno nuevo que se encuentre en un rango +/- 3.5 %  

imprimir el ticker seleccionado, el precio original , el nuevo precio y por ultimo el diccionario modificado.

### 14)

Supongamos que estamos evaluando otorgar prestamos con una tasa que varia en funcion del monto y del perfil de riesgo del beneficiario (bajo , medio y alto). Para montos mayores a 1.000.000 , la tasa sera del 5% sobre el capital. Para montos menores a 300.000 , la tasa sera del 12%. Para aquellos montos intermedios, la tasa estara en un 8%.

En cuanto al perfil, no se otorgara prestamos mayores a 1.000.000 para aquellos de riesgo alto. En caso de un perfil de riesgo bajo, se descontara un 1% a la tasa fijada sin importar el monto.

En caso de ser una solicitud aprobada, se guardara en un diccionario "aprobados" donde se usara el nombre como __key__, y el __monto + tasa__ como __value__.

en caso de no estar aprobada la solicitud, debera guardarse el nombre en la lista "denegados"

Ademas se solicita:

- contar cantidad de perfiles de riesgo alto (sin importar si el prestamo ha sido otorgado o no).
- sumar las cantidades de dinero otorgadas para perfiles de riesgo medio y bajo(no se debe sumar la tasa).

In [ ]:
solicitudes = {
    "Pepe": [200000 , "bajo"],
    "Juan": [3000000 , "medio"],
    "Victoria": [600000 , "medio"],
    "Agostina" : [1500000 , "alto"],
    "Julian" : [300000 , "alto"],
    "Francisco": [500000 , "alto"],
    "Pilar": [3000000 , "bajo"]
}