In [ ]:
import yfinance as yf

df = yf.download("^GSPC", auto_adjust=True).resample('M').last()
df['may_oct'] = ((df.index.month >= 5) & (df.index.month <= 10))
df['pct_change'] = df.Close.pct_change()
df.groupby('may_oct')['pct_change'].describe().iloc[:,1:].T

[*********************100%***********************]  1 of 1 completed

may_oct     False     True
mean     0.008457  0.003981
std      0.048848  0.058205
min     -0.250441 -0.299423
25%     -0.017084 -0.021056
50%      0.010099  0.007519
75%      0.036782  0.034443
max      0.338462  0.391376

In [ ]:
df.groupby('may_oct')['pct_change'].quantile(0.1)

may_oct
False   -0.045944
True    -0.059356
Name: pct_change, dtype: float64

In [ ]:
df.groupby('may_oct')['pct_change'].quantile(0.9)

may_oct
False    0.058927
True     0.060687
Name: pct_change, dtype: float64

In [ ]:
years = len(df) / 12
CAGR_may_oct = df.loc[df.may_oct]['pct_change'].add(1).prod()**(2/years)-1
CAGR_nov_apr = df.loc[df.may_oct==False]['pct_change'].add(1).prod()**(2/years)-1

CAGR_may_oct, CAGR_nov_apr

(0.02769106944970323, 0.0908445977207335)

In [ ]:
(1+CAGR_may_oct)**20-1, (1+CAGR_nov_apr)**20-1

(0.7268382156980848, 4.691905795296304)